baseurl: /github_blog
defaults:
  -
    scope:
        path: ""
        type: "pages"
    values:
        layout: "default"

  -
    scope:
        path: ""
        type: "posts"
    values:
        layout: "post"
