---
layout: default
title: 生活与代码博文
---
<div class="container index">
    <h2>{{ page.title }} <small>by Jimmy</small></h2>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a href="http://info.flagcounter.com/6JAa"><img src="http://s07.flagcounter.com/count2/6JAa/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
            {% for category in site.categories %}
            <h3>{{ category | first }} <small>[{{ category | last | size }}]</small></h3>
            <ul>
                {% for post in category.last %}
                <li>{{ post.date | date:"%a， %b %d， %y"}} -&gt; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="self-intro">
                <h3>About me</h3>
                <h3>目前大二，希望在<code>16年1月左右</code>的寒假找一份实习工作，进行实践，非常的欢迎骚扰<br />
                    方向：javascript/node/express &amp; 前端 均可</h3>
                <p>LINKS &amp; CONTACT</p>
                <ul>
                    <li>Blog: <a href="http://spxiaomin.github.io/github_blog/" title="我的博客地址" target="_blank">http://spxiaomin.github.io/github_blog/</a></li>
                    <li>GitHub: <a href="http://www.github.com/SPxiaomin" title="我的github地址" target="_blank">http://www.github.com/SPxiaomin</a></li>
                    <li>Email: 3013366498@qq.com</li>
                    <li>QQ: 3013366498</li>
                </ul>
                <ul>
                    <li>我的强项: <code>javascript/Node.js</code> &amp; <code>前端</code>，拥有比较强的<code>自学能力</code></li>
                    <li><code>Ubuntu</code>忠实的用户，掌握科学上网技术，墙外的资料查找无压力</li>
                    <li>良好的英文阅读水平，高考英语分数<code>142</code>，由于成绩优异，在大一下学期的时候从众多学生中选拔出来成为<code>首届</code>大一英语4级参考学生并一次性通过</li>
                    <li>基础算法能力，ACM集训队集训半年</li>
                    <li>熟悉html/css/bootstrap/javascript/jquery/node/express/python/flask</li>
                    <li>了解c++/c/php/java，掌握基本的语法</li>
                    <li>了解<code>Mongodb</code>，<code>mysql</code></li>
                </ul>
                <ul>
                    <li>SKILLS
                        <ul>
                            <li>Web
                                <ul>
                                    <li><code>javascript</code></li>
                                    <li><code>node.js/express</code></li>
                                    <li>html/<code>css</code></li>
                                    <li><code>less</code></li>
                                    <li>bootstrap</li>
                                    <li>jquery</li>
                                    <li>tool:
                                        <ul>
                                            <li><code>gulp</code></li>
                                            <li>grunt</li>
                                            <li><code>bower</code></li>
                                            <li><code>chrome</code></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Linux:
                                <ul>
                                    <li><code>Ubuntu</code></li>
                                    <li>bash</li>
                                </ul>
                            </li>
                            <li>Edit:
                                <ul>
                                    <li><code>vim</code></li>
                                </ul>
                            </li>
                            <li>Database:
                                <ul>
                                    <li><code>mongodb</code></li>
                                    <li><code>mysql</code></li>
                                </ul>
                            </li>
                            <li>版本控制:
                                <ul>
                                    <li><code>git</code>:
                                        <ul>
                                            <li><code>github</code></li>
                                            <li>oschina</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
