---
layout: default
title: 俊民的博客
---
<div class="container index">
    <h2><a href="/github_blog/aboutme.html">俊民</a>的博客</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for category in site.categories %}
            <ul>
              <li>{{ category | first | upcase }} <small>[{{ category | last | size }}]</small>
              <ul>
                  {% for post in category.last %}
                  <li>{{ post.date | date:"%Y-%m-%d"}}&nbsp;&nbsp; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
              </ul>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
