<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="jimmy intro">
    <meta name="keywords" content="jimmy,intro">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>intro</title>
    <link rel="stylesheet" href="{{ "/public/stylesheets/dest/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/public/stylesheets/dest/Font-Awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/public/stylesheets/dest/intro.min.css" | prepend: site.baseurl }}">
  </head>
  <body>
    {{ content }}
  </body>
</html>
