.index {
  /* typography */
  font-size: 18px;
  word-wrap: break-word;
  word-break: break-all;
}
.index h2 {
  /* layout */
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .index h2 {
    padding-left: 16.66666667%;
  }
}
.index h2 a {
  color: #333;
  text-decoration: underline;
}
.index .row {
  margin-bottom: 60px;
}
.index .row a:link {
  color: #3EBFCE;
}
.index .row a:visited,
.index .row a:hover,
.index .row a:active {
  color: #18474C;
  text-decoration: underline;
}
.post {
  /* typography */
  word-wrap: break-word;
  word-break: break-all;
}
.post h2 {
  /* layout */
  margin-bottom: 50px;
  text-align: center;
}
